build/
bin/
target/
libs/
tmp/
node_modules/
Thumbs.db
Desktop.ini
._*
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.loadpath
.launchconfig
.tern-project
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
/*/.gitignore